div(style='text-align:center;display:none' id='customizePlayer')
	p(class='text' style='font-size:100%;text-align:center') PLAYER NAME:
	input(type='text' class='inputPlayer' id='playerName' onkeydown="ifEnter()")
	br
	br
	a(class="ReportOption" onclick='FilterByPlayers()' id='generatePlayers') GENERATE