div(id='restart' style='text-align:center;display:none')
	a(class="ReportOption" onclick='window.location.href = "/index"' id='generatePlayers') RESTART
	a(class="ReportOption" style='margin-left:20px;' onclick='printTable()' id='generatePlayers') PRINT
