//Div com imagem, e mensagem Welcome
div(class='welcome' id='welcome' style='display:block')
	div(class="BtnStart" onclick="desactiveDiv('welcome'),activeDiv('api')" ) 
		a(class='quakeFont') START QUAKE PARSER